<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>489017170.52944398</real>
				<key>version</key>
				<dict>
					<key>18a15b9f3f060779c2425495a5f5e5f1a59273461821f1428e78ddc6965bedb7</key>
					<integer>4</integer>
					<key>a251ff2c83affebd7ca837acae96dec3d540acec958c488b425eb7ff196148a9</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>benifit.md</key>
			<dict>
				<key>lastModification</key>
				<real>483520843.60713899</real>
				<key>version</key>
				<dict>
					<key>a251ff2c83affebd7ca837acae96dec3d540acec958c488b425eb7ff196148a9</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>definition.md</key>
			<dict>
				<key>lastModification</key>
				<real>489017177.65420902</real>
				<key>version</key>
				<dict>
					<key>18a15b9f3f060779c2425495a5f5e5f1a59273461821f1428e78ddc6965bedb7</key>
					<integer>6</integer>
					<key>a251ff2c83affebd7ca837acae96dec3d540acec958c488b425eb7ff196148a9</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>explore_system.md</key>
			<dict>
				<key>lastModification</key>
				<real>483692135.80374002</real>
				<key>version</key>
				<dict>
					<key>a251ff2c83affebd7ca837acae96dec3d540acec958c488b425eb7ff196148a9</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>section_summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>489017167.80321902</real>
				<key>version</key>
				<dict>
					<key>18a15b9f3f060779c2425495a5f5e5f1a59273461821f1428e78ddc6965bedb7</key>
					<integer>2</integer>
					<key>a251ff2c83affebd7ca837acae96dec3d540acec958c488b425eb7ff196148a9</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>strategy_of_system_buildup.md</key>
			<dict>
				<key>lastModification</key>
				<real>483520843.60714</real>
				<key>version</key>
				<dict>
					<key>a251ff2c83affebd7ca837acae96dec3d540acec958c488b425eb7ff196148a9</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>benifit.md</string>
		</array>
		<array>
			<string>definition.md</string>
		</array>
		<array>
			<string>strategy_of_system_buildup.md</string>
		</array>
		<array>
			<string>explore_system.md</string>
		</array>
		<array>
			<string>section_summary.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>18a15b9f3f060779c2425495a5f5e5f1a59273461821f1428e78ddc6965bedb7</key>
			<integer>6</integer>
			<key>a251ff2c83affebd7ca837acae96dec3d540acec958c488b425eb7ff196148a9</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
